.navbar-brand:hover{
    background-color:gold; 
    border-radius: 15px;
} 

.icon-color:hover{
    background-color: red !important; 
    border-radius: 10px;
   } 
   
   .animate{
    animation: change 6s linear infinite !important;
}
 @keyframes change {
     0%{opacity: 1;}
    25%{opacity: .3;}
 
 
  } 
 